<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_Recommend>
            <version>0.1.0</version>
        </Hackathon_Recommend>
    </modules>
    <frontend>
        <routers>
            <recommend>
                <use>standard</use>
                <args>
                    <module>Hackathon_Recommend</module>
                    <frontName>recommend</frontName>
                </args>
            </recommend>
        </routers>
        <layout>
            <updates>
                <recommend>
                    <file>recommend.xml</file>
                </recommend>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <recommend>
                <class>Hackathon_Recommend_Block</class>
            </recommend>
        </blocks>
        <helpers>
            <recommend>
                <class>Hackathon_Recommend_Helper</class>
            </recommend>
        </helpers>
        <models>
            <recommend>
                <class>Hackathon_Recommend_Model</class>
                <resourceModel>recommend_mysql4</resourceModel>
            </recommend>
            <recommend_mysql4>
                <class>Hackathon_Recommend_Model_Mysql4</class>
                <entities>
                    <recommend>
                        <table>product_recommendations</table>
                    </recommend>
                </entities>
            </recommend_mysql4>
        </models>
        <resources>
            <recommend_setup>
                <setup>
                    <module>Hackathon_Recommend</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </recommend_setup>
            <recommend_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </recommend_write>
            <recommend_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </recommend_read>
        </resources>
        <events>
            <sales_model_service_quote_submit_success>
                <observers>
                    <order_customer_product>
                        <class>recommend/observer</class>
                        <method>orderCustomerProduct</method>
                    </order_customer_product>
                </observers>
            </sales_model_service_quote_submit_success>
            <catalog_controller_product_view>
                <observers>
                    <view_customer_product>
                        <class>recommend/observer</class>
                        <method>viewCustomerProduct</method>
                    </view_customer_product>
                </observers>
            </catalog_controller_product_view>
        </events>
    </global>
    <crontab>
        <jobs>
            <init_related>
                <schedule>
                    <cron_expr>*/20 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>recommend/related::init</model>
                </run>
            </init_related>
        </jobs>
    </crontab>
</config>